<article class="task-wrapper">
  <div class="task-container d-flex justify-content-between align-items-center mb-3 ">
    <%= render partial: 'tasks/task_content', locals: { task_presenter: task_presenter } %>
  </div>
  <article class="subtasks-container">
  <% if task_presenter.has_sub_task? %>
    <% task_presenter.sub_tasks.each do |sub_task| %>
        <div class="subtask ps-3 pe-3 pb-2">
          <div class="d-flex align-items-center gap-3 task-box">
            <%= render partial: 'tasks/task_content', locals: { task_presenter: sub_task } %>
          </div>
        </div>
    <% end %>
  <% end %>
  </article>
</article>
<hr>