<main class="tasks-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <header class="header-task">
    <div class="d-flex align-items-center">
      <i class="bi bi-list-task fs-4 me-2 mt-1"></i>
      <% if @parent_id.present? %>
        <h5 class="m-0 title">Nova sub-tarefa</h5>
      <% else %>
        <h5 class="m-0 title">Nova Tarefa</h5>
      <% end %>
    </div>
    <%= link_to 'Voltar', tasks_path, class: "btn btn-primary" %>
  </header>
  <hr class="mt-2">

  <%= render partial: "tasks/form", locals: { path: tasks_path, method: :post } %>
</main>